<a href="https://colab.research.google.com/github/ASWATHYRR/DAY1/blob/main/assignment_day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#question 1

In [3]:
a=[50,92,99,74,48,96]
b=list(a)
b.sort()
print(b[-2])

96

question 2

In [5]:
 D = {'John': [25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
 b=str(input('enter your name: '))
 if b in D:
  D[b]=[88,77,99]
  print (D)
else:
  print('Name Not Found')

enter your name: ram
Name Not Found

In [9]:
d = {'John': [25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
b=str(input('enter your name: '))
if b in D:
  d[b]=[88,77,99]
  print (d)
else:
  print('Name Not Found')

enter your name: Ram
{'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [88, 77, 99], 'Meena': [63, 79, 85]}

question 3

In [21]:
a=int(input('enter your age : '))
b=str(input('enter your gender : '))
if a<5 and a>60:
  print ('Ticket Price is Free')
elif a>=5 and a<=12 and b=='female':
  print ('Ticket Price is' ,  10/2)
elif a>5 and a<=12 and b=='male':
  print ('Ticket Charge is Rs.10')
elif a>12 and b=='female':
  print('Ticket Charge Is Rs.',50/2)
else:
    print('Ticket Charge is RS.50')

enter your age : 15
enter your gender : female
Ticket Charge Is Rs. 25.0

In [22]:
a=int(input('enter your age : '))
b=str(input('enter your gender : '))
if a<5 and a>60:
  print ('Ticket Price is Free')
elif a>=5 and a<=12 and b=='female':
  print ('Ticket Price is' ,  10/2)
elif a>5 and a<=12 and b=='male':
  print ('Ticket Charge is Rs.10')
elif a>12 and b=='female':
  print('Ticket Charge Is Rs.',50/2)
else:
    print('Ticket Charge is RS.50')

enter your age : 10
enter your gender : male
Ticket Charge is Rs.10